<!--The content below is only a placeholder and can be replaced.-->

<div class="board">
  <div class="card-list" *ngFor="let track of tracks; let i = index">
    <h2 cdkDragHandle class="mat-h2" style="text-align: center;">{{track.title}}</h2>
    <div class="card-list-content bg-{{i}}" cdkDropList [id]="track.id" [cdkDropListData]="track.tasks"
    [cdkDropListConnectedTo]="trackIds" (cdkDropListDropped)="onTaskDrop($event)">
      <div style="margin: 2%;" *ngFor="let task of track.tasks" cdkDrag class="cardt">
        <!-- Use the mat-card-content to add the proper spacing. -->
          <h2>{{task.title}}</h2>
          <p> {{task.description}} </p>
      </div>
    </div>
  </div>
</div>

<div class="cron__board">
  <cron-editor #cronEditorDemo [(cron)]="cronExpression" [options]="cronOptions" (cronChange)="goni($event)"></cron-editor>
  <p>{{cronExpression}}</p>
  <div class="form-group form-inline">
    <form [formGroup]="wee">
      <label class="col-form-label mx-auto">Enter a custom cron expression:&nbsp;
      <input class="form-control" formControlName="cronEx" (blur)="inOut($event.target.value)" /> </label>
    </form>
  </div>
</div>